@model DotNetWeHelp.Models.News

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_dashBoard.cshtml";
}

<div class="card shadow">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">NEWS Details</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                @Html.DisplayNameFor(model => model.Title)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.Title)
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">
                @Html.DisplayNameFor(model => model.CreateDate)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.CreateDate)
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">
                @Html.DisplayNameFor(model => model.ImagePath)
            </div>
            <div class="col-sm-6">
                <img src="@Url.Content(@Model.ImagePath)" with="50" height="50" />

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            <div class="col-sm-6">
              
           
                       @Html.Raw(@Model.Description)
               
                

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.CreatedDate)
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.ModifiedDate)
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="float-left">
            <div class="form-group">

                <button class="btn  btn-warning" onclick="location.href='@Url.Action("Edit", "News",new { id=Model.Id})'">Edit</button>

            </div>
        </div>
        <div class="float-right">
            <div class="form-group">

                <button class="btn  btn-primary" onclick="location.href='@Url.Action("Index", "News")'">Cancel</button>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}